/* Reset */
* { box-sizing: border-box; margin: 0; padding: 0; font-family: Arial, sans-serif; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #f0fdf4 #f0fdf4 );
}

.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #0f172a;
}

label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 0.6rem;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 0.7rem;
  background: #16a34a;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #15803D;
}

.redirect {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.redirect a {
  color: #15803D;
  text-decoration: none;
}
